<!DOCTYPE html>
<html lang="en">
 
{% extends "base.html" %}
{% set active_page = "colorharm" %}
{% block title %} Computational Art Studio|Color Harmolization {% endblock %}

{% block content %}

 
    <div class="container">



            <div class = "row">
                <div class="col-sm-6">
                    <div class = "card" style = "width:18rem;">
                    <img class="card-img-top" src ={{ url_for('static', filename = 'images/IMG_8135.jpg') }} alt="Country Flag">
                    <div class="card-body">
                        <p>Input Image</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class = "card" style = "width:18rem;">
                        <img class="card-img-top" src ={{ url_for('static', filename = 'images/temp.png') }} alt="Country Flag">
                        <div class="card-body">
                            <p>Output Image</p>
                        </div>
                    </div>
                </div>
            </div>


    <hr>
    </div>


    {% endblock %}